<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondhand.system.mapper.ClientAddressMapper">

    <resultMap id="ClientAddressResult" type="com.secondhand.system.domain.ClientAddress">
        <id property="addressId" column="address_id"/>
        <result property="userId" column="user_id"/>
        <result property="receiverName" column="receiver_name"/>
        <result property="receiverPhone" column="receiver_phone"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
        <result property="detailAddress" column="detail_address"/>
        <result property="postalCode" column="postal_code"/>
        <result property="isDefault" column="is_default"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectClientAddressVo">
        select address_id, user_id, receiver_name, receiver_phone, province, city, district,
               detail_address, postal_code, is_default, create_time, update_time
        from client_address
    </sql>

    <select id="selectClientAddressById" parameterType="Long" resultMap="ClientAddressResult">
        <include refid="selectClientAddressVo"/>
        where address_id = #{addressId}
    </select>

    <select id="selectClientAddressList" parameterType="com.secondhand.system.domain.ClientAddress" resultMap="ClientAddressResult">
        <include refid="selectClientAddressVo"/>
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="receiverName != null and receiverName != ''">and receiver_name like concat('%', #{receiverName}, '%')</if>
            <if test="isDefault != null and isDefault != ''">and is_default = #{isDefault}</if>
        </where>
        order by is_default desc, create_time desc
    </select>

    <insert id="insertClientAddress" parameterType="com.secondhand.system.domain.ClientAddress" useGeneratedKeys="true" keyProperty="addressId">
        insert into client_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="receiverName != null and receiverName != ''">receiver_name,</if>
            <if test="receiverPhone != null and receiverPhone != ''">receiver_phone,</if>
            <if test="province != null and province != ''">province,</if>
            <if test="city != null and city != ''">city,</if>
            <if test="district != null and district != ''">district,</if>
            <if test="detailAddress != null and detailAddress != ''">detail_address,</if>
            <if test="postalCode != null">postal_code,</if>
            <if test="isDefault != null">is_default,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="receiverName != null and receiverName != ''">#{receiverName},</if>
            <if test="receiverPhone != null and receiverPhone != ''">#{receiverPhone},</if>
            <if test="province != null and province != ''">#{province},</if>
            <if test="city != null and city != ''">#{city},</if>
            <if test="district != null and district != ''">#{district},</if>
            <if test="detailAddress != null and detailAddress != ''">#{detailAddress},</if>
            <if test="postalCode != null">#{postalCode},</if>
            <if test="isDefault != null">#{isDefault},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateClientAddress" parameterType="com.secondhand.system.domain.ClientAddress">
        update client_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="receiverName != null and receiverName != ''">receiver_name = #{receiverName},</if>
            <if test="receiverPhone != null and receiverPhone != ''">receiver_phone = #{receiverPhone},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="district != null and district != ''">district = #{district},</if>
            <if test="detailAddress != null and detailAddress != ''">detail_address = #{detailAddress},</if>
            <if test="postalCode != null">postal_code = #{postalCode},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where address_id = #{addressId}
    </update>

    <delete id="deleteClientAddressById" parameterType="Long">
        delete from client_address where address_id = #{addressId}
    </delete>

    <delete id="deleteClientAddressByIds" parameterType="String">
        delete from client_address where address_id in
        <foreach item="addressId" collection="array" open="(" separator="," close=")">
            #{addressId}
        </foreach>
    </delete>

    <update id="cancelOtherDefaultAddress">
        update client_address
        set is_default = '0', update_time = now()
        where user_id = #{userId} and is_default = '1'
        <if test="excludeAddressId != null">
            and address_id != #{excludeAddressId}
        </if>
    </update>

</mapper>

